<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Privacy Policy</title>
</head>
<body>
	<h1>
		Privacy Policy
	</h1>
	<p>Last updated: March 15, 2024</p>
	<h2>
		Information we collect
	</h2>
	<p>
		We collect your Discord account details (username, and whether you are part of the "osu! Logo Builders" Discord server), osu! account details (username, preferred gamemode, global leaderboard position, country leaderboard position, the country who's leaderboard you participate in, total performance points, and total play count), and the username(s) of your Discord account's connected Reddit account(s) (but only if you are part of the "osu! Logo Builders" Discord server).
	</p>
	<h2>
		How we use and share your information
	</h2>
	<p>
		Once you connect, we'll let Discord know that you did, and send them the osu! account details mentioned earlier, so that they can be shown on your Discord server profile and used for Linked Role requirements.</p>
	<p>
		We'll also use your Reddit account(s)' username(s) to see how many pixels you placed on r/place, but only if you are part of the "osu! Logo Builders" Discord server (as otherwise we would not have collected it).
	</p>
	<p>
		We may share your information as required by law (i.e. to comply with a request from law enforcement).
	</p>
	<h2>
		Data retention
	</h2>
	<p>
		We'll store your data as long as necessary to provide our services, or until you disconnect the Application within Discord's User Settings.
	</p>
	<h2>
		Contact
	</h2>
	<p>
		If you have any questions or concerns, feel free to contact us at <a href="mailto:contact@osu.place">contact@osu.place</a> or in our Discord server.
	</p>
</body>
</html>