<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign in | <%= BRAND_NAME %></title>

	<link rel="stylesheet" href="<%= BASE_URL %>/assets/styles/containered-page.css">
</head>
<body style="cursor: wait">
	<div id="container">
		<p>
			All done! You can close this tab and go back to Discord.
		</p>
	</div>
</body>
</html>