:root {
	height: 100%;
	--bg-1: #18171c;
	--bg-2: #24222a;
	--bg-3: #2a2734;
	--accent: #ff66aa;
	--radius: 0.5rem;
	--border-width: 3px;
	--border-color: rgba(150, 150, 150, 0.1);
	--border-color-on-accent: rgba(0, 0, 0, 0.3);
	--padding: 0.8em;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	min-width: 100%;
	overflow-x: hidden;
	margin: 0;
	padding: 0;

	background-color: var(--bg-1);
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
	max-width: 600px;
	padding: calc(var(--padding) * 2);
	margin: 0.5em;

	border-radius: var(--radius);
	background-color: var(--bg-2);

	border-width: var(--border-width);
	border-color: var(--border-color);
	border-style: solid;
}

#container > *:first-child {
	margin-top: 0;
}

#container > *:last-child {
	margin-bottom: 0;
}

#container a,
#container a:visited {
	color: var(--accent);
}

#container button {
	width: 100%;
	padding: var(--padding);

	background-color: var(--accent);
	border-style: solid;
	border-width: var(--border-width);
	border-color: var(--border-color-on-accent);
	border-radius: var(--radius);
	color: white;

	cursor: pointer;
}

.horizontal-center-flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

a.link-with-button {
	text-decoration: none;
}

details {
	padding: var(--padding);
	border-radius: var(--radius);
	background-color: var(--bg-3);
	border-style: solid;
	border-width: var(--border-width);
	border-color: var(--border-color);
	border-radius: var(--radius);
}

details summary {
	cursor: pointer;
}